@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --foreground: #09090b; /* Asegúrate de que el texto sea legible en modo oscuro */
  }
}

/* Aplicamos la fuente Geist Sans */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

/* Contenedor con ancho máximo */
.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1rem; 
}

/* Contenedor Flex */
.flex-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
}

/* Scrollbars personalizados */
:root {
  --scrollbar-width: 8px;
  --scrollbar-margin-right: 5px;
  --scrollbar-track: #ffffff;
  --scrollbar-thumb: #dedcdc;
}

.dark {
  --scrollbar-track: #1f1f1f00;
  --scrollbar-thumb: #2c2c2c;
}

/* Estilos de los scrollbars */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Asegúrate de que este ajuste sea necesario */
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
